<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>人脸登录</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css">
</head>
<body>
   <div class="box">
        <h1>什亭之匣</h1>
        <div class="btn-box">
            <div>
                <button class="button" id="logging">人脸登录</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}" type="text/javascript"></script>
</body>
</html>